In [ ]:
os.chdir(r"C:\Users\mikek\One Drive New\OneDrive\Leviathan\Armory\CrowsNest")

In [3]:
import pandas as pd
from pathlib import Path


# Load Plankton data
plankton_path = Path("C:/Users/mikek/One Drive New/OneDrive/Leviathan/Ocean/England_1/Plankton_England_1.csv")
df = pd.read_csv(plankton_path)

# Assign points using custom rules: Win = 1, Draw = 0.5, Loss = 0
def custom_points(result):
    if result == 'H':
        return pd.Series([1.0, 0.0])
    elif result == 'A':
        return pd.Series([0.0, 1.0])
    elif result == 'D':
        return pd.Series([0.5, 0.5])
    else:
        return pd.Series([None, None])

df[['HomePoints', 'AwayPoints']] = df['FTR'].apply(custom_points)

# Display key info: season, date, teams, score, result, points
display_columns = ['Season', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HomePoints', 'AwayPoints']
print(df[display_columns].head(6))

# Save updated file
output_path = Path("C:/Users/mikek/One Drive New/OneDrive/Leviathan/Armory/CrowsNest/match_points_custom.csv")
df.to_csv(output_path, index=False)

# Show top 6 rows
df.head(6)

   Season        Date     HomeTeam        AwayTeam  FTHG  FTAG FTR  \
0    1994  1993-08-14      Arsenal        Coventry   0.0   3.0   A
1    1994  1993-08-14  Aston Villa             QPR   4.0   1.0   H
2    1994  1993-08-14      Chelsea       Blackburn   1.0   2.0   A
3    1994  1993-08-14    Liverpool  Sheffield Weds   2.0   0.0   H
4    1994  1993-08-14     Man City           Leeds   1.0   1.0   D
5    1994  1993-08-14    Newcastle       Tottenham   0.0   1.0   A

   HomePoints  AwayPoints
0         0.0         1.0
1         1.0         0.0
2         0.0         1.0
3         1.0         0.0
4         0.5         0.5
5         0.0         1.0

,Season,Div,Date,Season_Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HomePoints,AwayPoints
0,1994,E0,1993-08-14,1994_E0,Arsenal,Coventry,0.0,3.0,A,0.0,1.0
1,1994,E0,1993-08-14,1994_E0,Aston Villa,QPR,4.0,1.0,H,1.0,0.0
2,1994,E0,1993-08-14,1994_E0,Chelsea,Blackburn,1.0,2.0,A,0.0,1.0
3,1994,E0,1993-08-14,1994_E0,Liverpool,Sheffield Weds,2.0,0.0,H,1.0,0.0
4,1994,E0,1993-08-14,1994_E0,Man City,Leeds,1.0,1.0,D,0.5,0.5
5,1994,E0,1993-08-14,1994_E0,Newcastle,Tottenham,0.0,1.0,A,0.0,1.0